@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';

.customSubtitle {
	.sm {
		font-size: 18px;
	}
	.md {
		font-size: 24px;
	}
	.lg {
		font-size: 38px;
	}
}

@media (min-width: $breakpoint-mobile) {
	.customSubtitle {
		.sm {
			font-size: 24px;
		}
		.md {
			font-size: 34px;
		}
		.lg {
			font-size: 48px;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.customSubtitle {
		.sm {
			font-size: 32px;
		}
		.md {
			font-size: 48px;
		}
		.lg {
			font-size: 56px;
		}
	}
}
