@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';

.defaultParagraph {
	color: $gray600;
	font-size: 12px;
}

@media (min-width: $breakpoint-tablet) {
	.defaultParagraph {
		font-size: 22px;
	}
}
