@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';

.defaultParagraph {
	color: $gray300;
}

.sm {
  font-size: 12px;
}
.md {
  font-size: 14px;
}
.lg {
  font-size: 16px;
}
.xl {
  font-size: 20px;
}


@media (min-width: $breakpoint-mobile) {
  .sm {
    font-size: 16px;
  }
  .md {
    font-size: 20px;
  }
  .lg {
    font-size: 24px;
  }
  .xl {
    font-size: 30px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .sm {
    font-size: 18px;
  }
  .md {
    font-size: 26px;
  }
  .lg {
    font-size: 30px;
  }
  .xl {
    font-size: 40px;
  }
}