@import 'assets/styles/sizes.scss';

.title {
	display: flex;
	align-items: center;
	padding-left: 0.6em;
	&:after {
		content: '';
		border-top: 2px solid;
		margin: 0 2rem 0 0.4rem;
		flex: 1 0 20px;
		color: #303ac5;
	}
}

.img {
	margin: 0.6em;
	max-width: 280px;
	max-height: 360px;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media (max-width: $breakpoint-mobile) {
	.img {
		width: 40%;
		margin: 0.6em;
		max-width: 280px;
		max-height: 360px;
	}
}

@media (max-width: $breakpoint-tablet) {
}
