@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';
@import 'assets/styles/weights.scss';

.info {
	background-color: $gray800;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 300px;
	padding: 0 0.5rem;

	h1 {
		margin-bottom: 0.2rem;
		font-weight: $bold-weight;
	}

	.img {
		background-color: $gray500;
		width: 180px;
		height: 260px;
		align-self: center;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.comicInfoPrice {
		background-color: $blue700;
		font-weight: $bold-weight;
		text-align: center;

		width: 5rem;
		margin-bottom: 0.5rem;
	}

  .buyButton {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: $breakpoint-mobile) {
	.info {
		width: 650px;
		padding: 0 1rem;
		padding-bottom: 0.5rem;

		.img {
			width: 280px;
			height: 430px;
		}

		.comicInfoPrice {
			width: 8rem;
		}

    .buyButton {
      align-self: center;
    }
	}
}

@media (min-width: $breakpoint-tablet) {
	.info {
		width: 1024px;
		height: 580px;
		padding: 0 1rem;
		padding-bottom: 0.5rem;
		display: grid;
		grid-template-columns: 1fr .5fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			'image . header header'
			'image . rating rating'
			'image . price .'
      'image . . .'
			'image . btn btn';

		.title {
			grid-area: header;
      margin-top: 4rem;
		}

		.rating {
			grid-area: rating;
		}

		.img {
			width: 300px;
			height: 430px;
			grid-area: image;
      margin-left: 2rem;
		}

		.comicInfoPrice {
			width: 10rem;
      margin: auto 0;
			grid-area: price;
		}

    .buyButton {
      grid-area: btn;
      margin-left: 5rem;
    }
	}
}