@import 'assets/styles/colors';
@import 'assets/styles/sizes.scss';

.navbar {
	background-color: $gray900;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;

	.cross {
		position: fixed;
		left: -100%;
		top: 30px;
		width: 35px;
		height: 35px;
		margin-right: 20px;
		cursor: pointer;
		transition: 0.3s;
		z-index: 10;

		&.active {
			top: 30px;
			left: calc(100% - 55px);
		}
	}

	.title {
		cursor: pointer;
	}

	.leftIcon {
		display: none;
	}

	.right {
		display: flex;
		align-items: center;
		.icon {
			margin-left: 40px;
		}
	}
	a {
		color: inherit;
		text-decoration: inherit;
	}

	li {
		list-style: none;
	}
}

.search {
	display: none;
	margin: 20px auto;
}

.navmenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;

	.button {
		margin-left: 40px;
		cursor: pointer;

		* {
			color: $gray50;
		}
	}
}

@media (max-width: $breakpoint-xl) {
	.navbar {
		.navmenu,
		.input {
			display: none;
		}

		.leftIcon {
			display: block;
		}

		.right {
			.icon {
				margin-left: 0;
			}
		}
	}
	.search {
		display: flex;
	}
}
@media (min-width: $breakpoint-mobile) {
	.navbar {
		.cross {
			width: 40px;
			height: 40px;

			&.active {
				top: 45px;
				left: calc(100% - 70px);
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.navbar {
		.cross {
			width: 45px;
			height: 45px;

			&.active {
				top: 50px;
				left: calc(100% - 75px);
			}
		}
	}
}
