$bg: #EC5151;
$hover: #ED999A; 
$disableBg: #D9D9D9; 
$text: #F5F5F5;

//global bttn
.bttn{
    color: $text;
    background-color: $bg;
    padding: 20px 8px;
    border-radius: 5px;
    border: 2px solid $bg;
    cursor: pointer;
}
.bttn:hover{
    background-color: $hover;
    box-shadow: 0px 0px 10px #ED999A;
    border-color: #ED999A;
}
.disable{
    .bttn:disabled{
        background-color: $disableBg;
        color: $text;
    }
}

//Sizes
.lg{
    width: 400px;
    height: 50px;
     
}
.md{
    width: 300px;
    height: 50px;
} 

.sm{
    width: 200px;
    height: 50px;
}

