@import 'assets/styles/colors';
@import 'assets/styles/sizes.scss';

.sidebar {
	background-color: $blue900;
	box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	height: 100vh;
	left: -100%;
	position: fixed;
	top: 0;
	transition: 0.3s;
	width: 100%;
	z-index: 9;

	&.active {
		left: 0;
	}
	.items {
		display: flex;
		flex-direction: column;
		padding-left: 40px;
	}

	.subtitle {
		color: $gray50;
		cursor: pointer;
	}

	// Reset Default Styles
	a {
		color: inherit;
		text-decoration: inherit;
	}

	li {
		list-style: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}
