@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';
@import 'assets/styles/weights.scss';

.customPrice {
  color: $gray300;
  font-weight: $bold-weight;
}

.sm {
  font-size: 16px;
}
.md {
  font-size: 20px;
}
.lg {
  font-size: 26px;
}
.xl {
  font-size: 32px;
}


@media (min-width: $breakpoint-mobile) {
  .sm {
    font-size: 18px;
  }
  .md {
    font-size: 28px;
  }
  .lg {
    font-size: 38px;
  }
  .xl {
    font-size: 46px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .sm {
    font-size: 22px;
  }
  .md {
    font-size: 36px;
  }
  .lg {
    font-size: 50px;
  }
  .xl {
    font-size: 62px;
  }
}