@import "assets/styles/colors.scss";

.customPrice {
  color: $gray900;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.sm {
  font-size: 20px;
}
.md {
  font-size: 24px;
}
.lg {
  font-size: 36px;
}