@import 'fonts';
@import 'weights';
@import 'colors';

* {
  font-family: $default-font;
  font-weight: $normal-weight;
}

body {
  background-color: $gray800;
  color: $gray50;
}

a {
  color: inherit;
  text-decoration: inherit;
}