@import 'assets/styles/colors.scss';
@import 'assets/styles/sizes.scss';

.counter {
	position: absolute;
	transform: translate(50%, 50%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: $gray50;
	font-size: 11px;
	font-weight: bold;
	background-color: $green700;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

@media (min-width: $breakpoint-mobile) {
	.counter {
		font-size: 14px;
		width: 25px;
		height: 25px;
		transform: translate(60%, 60%);
	}
}
